@page
@model homework8.Views.Shared.Sex

@{
    Layout = null;
}

<select class="form-group">
    <option value="Male">Мужщина</option>
    <option value="Female">Женщина</option>
    <option value="Helicopter">HELICOPTER</option>
</select>